body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    color: #ffffff;

    background:
        linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4));

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

li {
    font-size: 14px;
    font-style: italic;
    color: #ffffff;
}

a {
    color: rgb(88, 143, 255);
}

.leftvalue {
    float: left;
    width: 20%;
    padding: 10px;
}

.mainbody {
    float: left;
    width: 55%;
    padding: 10px;
}

.rightvalue {
    float: right;
    width: 20%;
    padding: 10px;
}

body::after {
    content: "";
    display: block;
    clear: both;
}
